gophercon2018: Few trivial stuff in NDP slides

Thanks for sharing the slides and congrats on the successful talk. Probably it's not worth to mention, but just FYI:

> Draft standard in RFC 2460 (December 1998!)

The latest is RFC 8200 (CY17) and the first deliverable from the IPng working group is RFC 1883 (CY1995),

> Effectively the IPv6 equivalent to IPv4’s ARP

Well, from protocol design/pedigree point of view, the sire of ND is IRDP (RFC 1256), the dam is ARP and the broodmare sire is AppleTalk or ES-IS of OSI.

> desktop $ GOARCH=mips64 go build -o ndp_mips64

I didn't know that the existing standard and x/net libraries work with mips64-big-endian stuff, thanks.

Touch-and-go closing.

Thanks for the feedback!

> The latest is RFC 8200 (CY17) and the first deliverable from the IPng working group is RFC 1883 (CY1995),

Yeah, I should have mentioned the newest RFC but I actually had totally forgotten about the IPng working group.

> Well, from protocol design/pedigree point of view, the sire of ND is IRDP (RFC 1256), the dam is ARP and the broodmare sire is AppleTalk or ES-IS of OSI.

Interesting, I wasn't even aware of IRDP.  I was more so just trying to convey that NDP does a lot of the same tasks that ARP does for IPv4, although it's much more flexible.

> I didn't know that the existing standard and x/net libraries work with mips64-big-endian stuff, thanks.

Yeah, they seem to work great!  I think the x/sys qemu/docker code generator stuff made a big difference here.

Thanks again for the feedback!